body{
    margin: 0px;
    position: absolute;
    overflow-x: hidden;
}
.NavBar{
    background-color: white;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-position , .menu{
    margin-left: 15vw;
    margin-right: 5vw;
}
.menu-items{
    margin-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.menu-items:hover{
    color: blue;
}
.Name{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left{
    background-color: pink;
    width: 40vw;
    height: 100vh;
}
.card{
    height: 70vh;
    width: 50vw;
    margin-left: -15vw;
    margin-top: 8vh;
    display: flex;
}
.left-card{
    width: 18vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.Profile{
    margin-top: 3vh;
    width: 40%;
}
.line{
    width: 4vw;
    background-color: blue;
    height: .5vh;
    border-radius: 10px;
    margin-top: 20%;
}
.myinfo{
    background-color: aqua;
    height: 90%;
}
.SocialMedia{
    background-color: white;
    height: 10%;
}
.social-content{
    justify-content: space-evenly;
    display: flex;
}

#social-menu{
    margin-top: 5%;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.position{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
    font-size: 18px;
}
.right-card{
    width: 60%;
}
.right-card-content{
    margin-left: 2vw;

}
.hello{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
}
.whoiam{
    margin-top: -2vh;
    font-family: Arial, Helvetica, sans-serif;
}
.resume , .project{
    width: 40%;
    height: 7vh;
    border-radius: 25px;
    cursor: pointer;
}
.resume{
    background-color: blue;
    border: none;
    color: white;
}
.project{
    margin-left: 1vw;
    border: 2px solid blue;
    background-color: white;
}
.resume:hover{
    background-color: white;
    border: 2px solid blue;
    color: black;
    transition: 0.5s;
}
.project:hover{
    background-color: blue;
    border: none;
    color: white;
    transition: 0.5s;
}
.loading{
    text-align: center;
}
.loading-lable{
    margin-top: 25vh;
    padding-bottom: 45vh;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#buttonNavBar{
    width: 10vw;
    border: none;
    background-color: white;
    display: none;
}
#buttonNavBar:hover{
    transition: 0.5s;
    cursor: pointer;
    width: 11vw;
}
.container{
    margin-left: 5vw;
    margin-right: 5vw; 
}
#mylist{ 
    height: 100vh;
    width: 0px; 
    background-color: blue; 
    float: right;
    transition: 1s; 
}
#list-content{
    height: 100vh;
    justify-content: space-evenly;
    width: 0%;
}
.list-item{
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-item:hover{
    background-color: blue;
    color: white;
}
.right-bar{
    display: none;
}
.role{
    font-weight: 100;
}
@media only screen and (max-width:900px){
    .menu-items{
        display: none;
    }
    .card{
        margin-left: 25%;
        height: 100vh;
        display: block;
        
    }
    .right-card{
        width: 100%;
    }
    .position{
        padding-bottom: 10vh;
        padding-left: 30%;
    }
    .left{
        width: 0%;
    }
    .left-card{
        display: block;
        width: 50vw;
        padding-bottom: 3vh;
    }
    .main{
        padding-bottom: 50vh;
    }
    #buttonNavBar{
        display: block;
    }
    .list-menu{
        display: block;
        color: white;
    }
    .resume , .project{
        display: block;
        margin-left: 0px;
        width: 100%;
        margin-top: 15px;
    }
    .social-content{
        margin-top: 15%;
    }
    #mylist{
        color: white;
    }
    .right-bar{
        display: none;
        width: 40vw;
        background-color: #c5c5e6;
        margin-top: 89vh;
        height: 100vh;
        text-align: start;
        
    }
    .right-bar-items{
        font-size: 14px;
        font-weight: 600;
        margin-left: 2vw;
    }
    a{
        color: rgb(69, 60, 60);
    }
    .line-right-bar{
        width: 80%;
        display: block;
        background-color: rgb(123, 111, 111);
        height: .2vh;
        margin-left: 2vw

    }
}